.form {
    margin: auto;
    max-width: 800px;
}

.main-form {
    display: flex;
    margin-top: 30px;
}

.person-data {
    font-size: 1.1em;
    width: 45%;
}


.form p {
    font-weight: bold;
    font-size: 1.1rem;
}


.input-bttn {
    margin-top: 20px;
    padding: 5px 30px;
    float: right;

}

.mar-top {
    margin-top: 50px;
}

.errorlist {
    display: none;
}

.form-div {
    width: 45%;
}