.main-frame {
    display: flex;
    justify-content: space-between;
    border: 15px grey solid;
    border-radius: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;


}

.movie-frame {
    display: flex;

}

.add-stats {
    display: flex;
    justify-content: space-between;
    min-width: 100px;

}

.stats {
    /*padding-right: 20px;*/
    margin-right: 20px;
    min-width: 100px;

}

.stats-emh {
    font-weight: bold;
}

.movie-title {
    font-size: 2em;
    margin-bottom: 0;
    margin-top: -9px;
    font-weight: bold;

}


.bold {
    font-weight: bold;
    font-size: 1.1rem;
}

.div-img {
    margin-right: 20px;
}

.mar-links {
    margin-bottom: 10px;

}

.navs-links {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
}

.first_row {
    display: flex;
    align-items: flex-start;

}
