{% extends 'base.html' %}

{% block head %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
<link rel="stylesheet" href="{% static 'css/editall.css' %}">
{% endblock head %}

{% block content %}
<div class="mar-top form">
    <div class="main-form">
        <div class="person-data">
            <p class="">To add person please provide name and surname</p>

        </div>
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input class="input-bttn btn btn-outline-info" type="submit" value="Confirm">

        </form>
    </div>
        </div>
</div>

{% endblock content %}