<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    {% block head %}

    {% endblock head %}
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<header>
    <div class="nav-bar">
        <p class="logo">film<span class="span-logo1">Web</span><span class="span-logo2">-{{ title }}</span></p>
        <div class="nav-links">
            <a href="{% url 'movies' %}">Show Movies</a>
            <a href="{% url 'persons' %}">Show Persons</a>
            <a href="{% url 'add-person' %}">Add Person</a>
            <a href="{% url 'add-movie' %}">Add&nbspMovie</a>
        </div>
    </div>
</header>
<body>

{% block content %}
{% endblock content %}

</body>

<footer class="page-footer font-small pt-4 fixed-bottom">
   <div class="p-4 bg-secondary text-white text-center">© <script>
            document.write(new Date().getFullYear());
          </script> Copyright: Leszek Grechowicz
      <a href="https://github.com/leszekgrechowicz"> GitHub</a>
    </div>
</footer>

</html>