{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/persons.css' %}">

{% endblock head %}

{% block content %}

<table class="table_person">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th id="last-th"></th>
        {% for person in persons %}
    <tbody>
    <tr>
        <td>
            <div class="tooltip"><a href="{% url 'edit-person' pk=person.id %}">{{ person.first_name }}</a>
                <span class="tooltiptext">Edit !</span></div>
        </td>
        <td>

            <div class="tooltip"><a href="{% url 'edit-person' pk=person.id %}">{{ person.last_name }}</a>
                <span class="tooltiptext">Edit !</span></div>


        </td>
        <td id="last_td" style="width: 40px; border-color: white">
            <a id="del-bttn-p" href="">Delete</a>
        </td>

    </tr>

    </tbody>
    {% endfor %}
</table>

{% endblock content %}