{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/persons.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

{% endblock head %}

{% block content %}

{% if persons %}
<table class="table_person">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th id="last-th"></th>
        {% for person in persons %}
    <tbody>
    <tr>
        <td>
            <div class="my-tooltip"><a href="{% url 'edit-person' pk=person.id %}">{{ person.first_name }}</a>
                <span class="my-tooltiptext">Edit !</span></div>
        </td>
        <td>

            <div class="my-tooltip"><a href="{% url 'edit-person' pk=person.id %}">{{ person.last_name }}</a>
                <span class="my-tooltiptext">Edit !</span></div>


        </td>
        <td id="last_td" style="width: 40px; border-color: white">
            <a id="del-bttn-p" href="{% url 'del-person' pk=person.id %}">Delete</a>
        </td>

    </tr>

    </tbody>
    {% endfor %}
</table>

{% endif %}

{% endblock content %}